venv/

# Ignore data files
data/

# Ignore Build
build/

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
*.db
*.sqlite
.DS_Store
*.log
*.bak
*.cif
id_prop.csv
*.egg-info/
dist/

# Ignore the config file for API key
config.toml 